<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <nav class="py-4 px-6 bg-teal-500 flex justify-between items-center">
    <a href = "/" class="text-white">XENO CRM</a>
    <div>
        <a href="text-white" class="py-4 px-6 rounded-xl bg-teal-600">Login</a>
        <a href="text-white" class="py-4 px-6 rounded-xl bg-teal-300">Register</a>
    </div>
  </nav>
  <footer class="py-8 text-center bg-gray-200">
    <p class="text-xs text-gray-700">Copyright Akshit Goyal 2024 TASK</p>
  </footer>
</body>
</html>