<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <nav class="py-4 px-6 bg-teal-500 flex justify-between items-center">
    <a href = "/" class="text-white">XENO CRM</a>
    <div class="space-x-4">
        <a href="{% url 'about' %}" class="text-white">About</a>
        {% if request.user.is_authenticated %}
          <a href="{% url 'dashboard' %}" class="py-4 px-6 rounded-xl bg-teal-600">Dashboard</a>
          <a href="{% url 'logout' %}" class="py-4 px-6 rounded-xl bg-red-300">Logout</a>
        {% else %}
          <a href="{% url 'login' %}" class="py-4 px-6 rounded-xl bg-teal-600">Login</a>
          <a href="{% url 'signup' %}" class="py-4 px-6 rounded-xl bg-teal-300">Register</a>
        {% endif %}
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  <footer class="py-8 text-center bg-gray-200">
    <p class="text-xs text-gray-700">Copyright Akshit Goyal 2024 TASK</p>
  </footer>
</body>
</html>